{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arpit Fitness</title>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <header class="topi">
        <!-- for logo -->

        <div class="left">
               <img src="img/blk logo.png" alt="image not" >
               <div>Arpit Fitness</div>
        </div>

        <!-- for search -->

        <div class="mid">
                <ul class="navbar">
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Trainers</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
        </div>
        <!-- for nav bar -->

        <div class="right">
            <button class="btn"><a href="/">Log In</a>
                </button>
            <button class="btn"><a href="/signup"> Sign Up</a>
               </button>
        </div>

  

    <div class="container">
     <!-- <h1>Join the Best Gym  Now</h1> -->
     <!-- <form action="mailto:arpitsingh132001@gmail.com"  method="post" enctype="text/plain">
        <div class="form-groum">
            
            <input type="text" placeholder="Enter Your Name">
        </div>
        <div class="form-groum">
           
            <input type="text" placeholder="Enter Your Age">
        </div>
        <div class="form-groum">
         
            <input type="email" placeholder="Enter Your Email">
        </div>
        <div class="form-groum">
           
            <input type="text" placeholder="Enter Your Number">
        </div>
        <button class="btn">Submit</button>
      
     </form> -->
<h1>
    SHAPE YOUR PERFECT BODY
</h1>
<p>Nullam posuere at massa id faucibus. Duis in lacus fermentum, volutpat tellus ut, faucibus nulla. Maecenas dictum neque velit, vitae porta arcu vehicula venenatis. Donec purus metus</p>

    </div>
</header>
    <div class="middle">
      <!-- <img src="img/runner.png" alt=""> -->
      <img class="mimg" src="img/treadmill-machine.png" alt="">

     
        <h2>Let Us Find The Perfect Workout For You !</h2>
        <img  class="Dot" src="http://zcube.in/hitup/img/bg/circle-line.png" alt="">
        <p>Fusce orci ligula, tincidunt ut metus vel, venenatis aliquet tortor. Duis et consequat enim. Curabitur pulvinar, dolor at pulvinar molestie, augue massa volutpat felis, at rhoncus tortor velit vel diam. Cras ac suscipit metus
      Etiam fermentum ex orci, a ullamcorper erat tempor in. Nulla est ante, ullamcorper vitae dui vel, molestie feugiat sapie
     Integer auctor est nec semper hendrerit. Etiam sollicitudin enim in urna commodo, in dapibus velit elementum. Ut congue nisl sapien, vel ultricies nulla tincidunt vitae. Maecenas non ligula quis massa consequat commodo eleifend ut velit. Vestibulum molestie nunc non libero posuere, quis pellentesque massa tempus.</p>
     
    
    </div>
    <div class="middle">
      <!-- <img src="img/runner.png" alt=""> -->
      <img class="nimg" src="img/runner.png" alt="">

     
        <h2 class="spara">Let Us Find The Perfect Workout For You !</h2>
        <img  class="Dot" src="http://zcube.in/hitup/img/bg/circle-line.png" alt="">
        <p>Fusce orci ligula, tincidunt ut metus vel, venenatis aliquet tortor. Duis et consequat enim. Curabitur pulvinar, dolor at pulvinar molestie, augue massa volutpat felis, at rhoncus tortor velit vel diam. Cras ac suscipit metus
      Etiam fermentum ex orci, a ullamcorper erat tempor in. Nulla est ante, ullamcorper vitae dui vel, molestie feugiat sapie
     Integer auctor est nec semper hendrerit. Etiam sollicitudin enim in urna commodo, in dapibus velit elementum. Ut congue nisl sapien, vel ultricies nulla tincidunt vitae. Maecenas non ligula quis massa consequat commodo eleifend ut velit. Vestibulum molestie nunc non libero posuere, quis pellentesque massa tempus.</p>
     
    </div>
            
                 <!-- about section  -->

    <div class="about">
       <div class="about-box">
        <h1>ABOUT <span>Arpit Fitness</span>
        </h1>
      
        <p class="about-para">Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta. Duis purus sapien, blandit non sem quis, mollis vehicula sapien. Fusce mollis mauris vitae enim varius scelerisque id id ex. Maecenas vel iaculis purus, a ornare quam.</p>
        <p class="about-para">Sed a mi mattis, posuere mauris et, mollis lacus. Vivamus in imperdiet libero, at dapibus eros. In varius lacinia gravida. Aenean dignissim nulla nibh, a laoreet ligula fermentum sit amet.</p>
       </div>

        <div class="about-imggg">
            <img src="img/about-img.png" alt="about" srcset="">
        </div>
    </div>

  

<!--             course section  -->

    <div class="courses">
        <div class="cour1">
            <h2>OUR
                <span>COURESES
                </span>
            </h2>
            <p>Quisque ullamcorper ex non leo blandit porta. Duis purusue ullamcorper ex non leo blandit porta. Duis purus sapien, blandisue ullamcorper ex non leo blandit porta. .</p>
        </div>

        <div class="box">
            <div class="box1">
                
                <div class="course-img">
                    <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/courses-img-1.png" alt="NO IMG">
                </div>

                <div class="course-content">
                    <h3>Kettlebells Course</h3>
                    <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta.</p>
                </div>

            </div>


            <div class="box1">

                <div class="course-img">
                    <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/courses-img-2.png" alt="NO IMG">
                </div>

                <div class="course-content">
                    <h3>WEIGHTLIFTING</h3>
                    <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta.</p>
                </div>

            </div>

            <div class="box1">

                <div class="course-img">
                    <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/courses-img-3.png" alt="NO IMG">
                </div>

                <div class="course-content">
                    <h3>ADVANCED GYMNASTIC</h3>
                    <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta.</p>
                </div>


            </div>

            <div class="box1">

                <div class="course-img">
                    <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/courses-img-4.png" alt="NO IMG">
                </div>

                <div class="course-content">
                    <h3>Meditation</h3>
                    <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta.</p>
                </div>


            </div>

            <div class="box1">

                <div class="course-img">
                    <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/courses-img-5.png" alt="NO IMG">
                </div>

                <div class="course-content">
                    <h3>Martial Arts</h3>
                    <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta.</p>
                </div>


            </div>

            <div class="box1">

                <div class="course-img">
                    <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/courses-img-6.png" alt="NO IMG">
                </div>

                <div class="course-content">
                    <h3>Running</h3>
                    <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta.</p>
                </div>
            </div>
        </div>
    </div>


                <!-- OUR Trainers -->


                
    <div class="Trainers">
        <div class="train1">
            <h2>OUR
                <span>TRAINERS
                </span>
            </h2>
            <p>Quisque ullamcorper ex non leo blandit porta. Duis purusue ullamcorper ex non leo blandit porta. Duis purus sapien, blandisue ullamcorper ex non leo blandit porta. .</p>
        </div>

        <div class="tra">
            <div class="men">

                <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/trainer-img-1.png" alt="tra">

            </div>

            <div class="men">
                <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/trainer-img-2.png" alt="tra">

            </div>

            <div class="men">
                <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/trainer-img-3.png" alt="tra">

            </div>

        </div>




    </div>


    <div class="contact">
        <div class="cont">
            <h2>CONTACT
                <span>WITH US
                </span>
            </h2>
            <!-- <p>Quisque ullamcorper ex non leo blandit porta. Duis purusue ullamcorper ex non leo blandit porta. Duis purus sapien, blandisue ullamcorper ex non leo blandit porta. .</p> -->

            <div class="form">
      <h2>Join the Best Gym  Now</h2>


     <form action="mailto:arpitsingh132001@gmail.com"  method="post" enctype="text/plain">
        <div class="form-groum">
            
            <input type="text" placeholder="Enter Your Name">
        </div>
        <div class="form-groum">
           
            <input type="text" placeholder="Enter Your Age">
        </div>
        <div class="form-groum">
         
            <input type="email" placeholder="Enter Your Email">
        </div>
        <div class="form-groum">
           
            <input type="text" placeholder="Enter Your Number">
        </div>
        <button class="btn">Submit</button>

      
     </form>
    </div>

        </div>

     </div>

</body>

</html> --}}























<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaurav Singh</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    {{!-- <link rel="stylesheet" href="styles.css"> --}}
     <link rel="stylesheet" href="css/home.css">
    <link rel="icon" href="favi.ico">
    
    
</head>
<body>
     <div class="navigation"> 
      <ul>
        <li><a class="active" href="#home">HOME</a></li>
        <li><a href="https://264gaurav.github.io/project-website/qualification.html" >QUALIFICATION</a></li>
        <li><a href="https://264gaurav.github.io/project-website/myHobby.html" >HOBBIES</a></li>
        <li><a href="https://264gaurav.github.io/project-website/contact_us.html">CONTACT</a></li>
        <li><a href="https://264gaurav.github.io/project-website/about.html">ABOUT</a></li>
    </ul>   
    </div> 


   <div class="content">
    <div class="cloud"> 
      <img class="cloud1" src="https://cdn-icons-png.flaticon.com/512/1146/1146869.png" alt="cloud">
      <!-- <img class="cloud2" src="https://cdn-icons-png.flaticon.com/512/473/473697.png" alt="cloud"> -->
    </div>
    <div class="sec2">
        <h1 class="heading">Hii... I'm <span class="name">Gaurav Singh</span></> </h1>
        <h2 class="programmer" style="font-style: italic;  color: rgb(160, 160, 170);"> A Programmer. </h2>
    </div>
    <div class="profile">
      <img src="https://264gaurav.github.io/project-website/gauravinsta%20(1).png" alt="ProfilePicture">
      <h2>Hello.</h2>
      <p class="intro">I'm a Programmer and Web Developer. <strong>| ★★★★★coder@c++ |</strong> Student at MMMUT,Gorakhpur. </p>
    </div>
    <hr>
     <div class="mid">
        <h2 class="welcome">WELCOME TO MY WORLD!!!!</h2>
        <p class="vlog">“The mountains are calling, and I must go.” </p>
         <br><br><br>
    </div>
    <div class="sec3">
        <img  class="tree" src="https://media.giphy.com/media/IiMy0SvM8HVqbrFcJX/giphy.gif" alt="tree">
        <h2 ><strong>Save Tree , Save Lives</strong></h2>
        <p class="poem">Now I will plant this little tree!  <br>

          Forever and ever it belongs to me.  <br>
          
          When it’s grown up I will lift my eyes  <br>
          
          To see my tree against the skies.   <br>
          
          A great, tall, living thing I shall see.  <br>
          
          And how glad I’ll feel that it’s my tree.  
        </p>
    </div>
   


    <div class="middle-container">
      <hr>
        <div class="skills">
          <h2>My Skills.</h2>
          <div class="skill-row">
            <img class="Web-Development" src="https://cdn-icons-png.flaticon.com/512/2282/2282188.png" alt="Skill Photo">
            <h3>Web-Development </h3>
            <p class="skill">I started learning Web-Development when I came to MMMUT ,Gorakhpur.But i was always interested in learning these skills and Technologies. </p>
          </div>
          <div class="skill-row">
            <img class="cpp" src="https://cdn-icons-png.flaticon.com/128/6132/6132222.png" alt="Programming C++">
            <h3>Programming and problem Solving</h3>
            <p class="skill">Learning new thing  always attracts me. But i was much interested in programming languages. I Learnt my first prog. 
              language as "C" in my Diploma . And making it to more strengthen in BTech.
            </p>
          </div>
          <div class="skill-row">
            <img class="iot" src="https://as2.ftcdn.net/v2/jpg/02/68/65/11/1000_F_268651199_9HDNIrsxuAYyS6mHMQBizCeVnqfCagoa.jpg" alt="IOT Applications">
            <h3>IOT Applications and Models</h3>
            <p class="skill">As an Electronics Engineer , I felt that , the most interested and real life Electronics Application is IoT . I have completed my projected in Home-Automation.
            </p>
          </div>
        </div>
        <hr>
        <div class="contact-me">
          <h2 class="touch">Get In Touch</h2>
          <a  class="button" href="mailto:gauravsingh264209@gmail.com">Contact Me</a>
          <!-- <img  class="contact_image" src="https://i.pinimg.com/originals/91/9f/da/919fda6f231a18ffcd6ff509f8193fcc.jpg" alt="contact"> -->
          <h3 style="color: orange;">THANKS TO VISIT OUR SITE. PLEASE , VISIT AGAIN. </h3>
        </div>
      </div>
      
      
      <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/gaurav-singh-722660228">LinkedIn</a>
        <a class="footer-link" href="mailto:gauravsingh264209@gmail.com">E-mail</a>
        <a class="footer-link" href="https://www.facebook.com/gauravsingh.kashyap.353/">facebook</a>
        <a class="footer-link" href="https://www.instagram.com/gauravsinghkashyap45/">Instagram</a>
        <p class="copyright">© Gaurav Singh</p>
      </div>
    </div> 
     

</body>
</html>